server {
  listen 80;
  server_name <%= @fqdn %>;
  location / {
    <% if @cookie -%>
    proxy_set_header Cookie "<%= @cookie %>";
    <% end -%>
    proxy_pass <%= @proxy_url %>;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forward-Proto http;
    proxy_set_header X-Nginx-Proxy true;
    proxy_redirect off;
    proxy_read_timeout 300;
  }
}
